# Dependencies
node_modules/

# Next.js build output
.next/
out/
/build/
/coverage/
next-env.d.ts

# Environment / secrets
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
*.log
.idea/
*.iml
.vscode/

